h1{
                color: white;
                  font-family:system-ui;
             
                  font-size:40px;
                  @keyframe: example;
                  }
body{
           background-color:black;
}
button{
              height:50px;
              width:1356px;
              background-color: white;
              border-radius:0%;
              border: 1px solid transparent;
              transition: background-color ease-out 1s 120ms;
}
button:hover{
                          background-color:Blue;
                              color:white;
}
.img{
        justify-content:center;
        display:flex;
           height:600px;
           width:400px;}